<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions applyToWebDAV="false">
          <add fileExtension=".obj" allowed="true" />
          <add fileExtension=".dds" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>